<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un utilisateur</title>
</head>
<body>
    <form action="#" th:action="@{/utilisateurs/add}" method="post" th:object="${utilisateur}">
        <label for="nom">nom</label>
        <input type="text" th:field="*{nom}" placeholder="nom" id="nom">
        <br>
        <label for="prenom">prenom</label>
        <input type="text" th:field="*{prenom}" placeholder="prenom" id="prenom">
        <br>
        <label for="email">email</label>
        <input type="text" th:field="*{email}" placeholder="email" id="email">
        <br>
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>